# Data Science Tools and Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
+ Languajes of Data Science
+ Libraries, APIs, Datasets and Models
+ Jupyter
+ Rstudio and GitHub

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Java
5. Julia
6. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-Learn
6. Keras
7. Vegas
8. BigDL
9. Ggplot2


| Data Science Tools |
| ------------- |
| MySQL |
| IBM Watson Studio |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.

(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335

## Author: 
#### Ana Isabel Losada √Ålvarez